<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.example.myplugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>MyPlugin</name>
    <description>Cordova Plugin using Android AAR library</description>
    <license>MIT</license>
    <keywords>cordova, plugin, android, aar</keywords>
    <repo>https://github.com/example/my-plugin</repo>
    <issue>https://github.com/example/my-plugin/issues</issue>
    <engines>
        <engine name="cordova" version=">=10.0.0" />
    </engines>
    
    <platform name="android">
        <source-file src="src/android/MyPlugin.java" target-dir="src/main/java/com/example/myplugin" />
        <framework src="src/android/driver.gradle" custom="true" type="gradleReference" />

        <source-file src="aar/DriverCardOCRLibrary.aar" target-dir="app/libs" />
      
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MyPlugin" >
                <param name="android-package" value="com.example.myplugin.MyPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
    </platform>
    
    <platform name="ios">
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
        <config-file target="config.xml" parent="/widget">
        <feature name="MyPlugin">
            <param name="ios-package" value="MyPlugin" />
            <param name="onload" value="true" />
        </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>カードの認識に使用します。</string>
        </config-file>
        <source-file src="src/ios/MyPlugin.swift" target-dir="BMOcr" />
        <source-file src="src/ios/OcrPluginManager.swift" target-dir="BMOcr" />
        <framework src="src/ios/DriverCardOCRLibrary.framework" custom="true" embed="true" />
    </platform>

    <js-module src="www/MyPlugin.js" name="MyPlugin">
        <clobbers target="MyPlugin" />
    </js-module>
</plugin>
