<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-bm-pocr"
        version="1.0.0">

  <name>BMOcr</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/bmpocr.js" target="js/bmpocr.js"/>

  <js-module src="www/bmpocr.js" name="BMOcr">
    <clobbers target="bmpocr" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <preference name="GradlePluginKotlinEnabled" value="true" />
      <preference name="GradlePluginKotlinCodeStyle" value="official" />
      <preference name="GradlePluginKotlinVersion" value="1.7.21" />
      <preference name="AndroidXEnabled" value="true" />
      <feature name="OcrPlugin">
        <param name="android-package" value="jp.bluememe.plugin.ocr.OcrPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>



    <hook type="after_prepare" src="src/android/hooks/after_prepare.js"/>
    <source-file src="src/android/OcrPlugin.java" target-dir="src/jp/bluememe/plugin/ocr/"/>
    <source-file src="src/android/plugin/OcrPluginManager.java" target-dir="src/jp/bluememe/plugin/ocr/plugin/"/>
    <source-file src="src/android/plugin/Permission.java" target-dir="src/jp/bluememe/plugin/ocr/plugin/"/>
    <framework src="src/android/yourfile.gradle" custom="true" type="gradleReference" />
    <source-file framework="true" src="src/android/libs/DriverCardOCRLibrary.aar" target-dir="libs"/>
  </platform>

  <platform name="ios">
    <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
    <config-file target="config.xml" parent="/widget">
      <feature name="OcrPlugin">
        <param name="ios-package" value="OcrPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
	    <string>カードの認識に使用します。</string>
    </config-file>
    <source-file src="src/ios/OcrPlugin.swift" target-dir="BMOcr" />
    <source-file src="src/ios/OcrPluginManager.swift" target-dir="BMOcr" />
    <source-file src="src/ios/OcrViewController.swift" target-dir="BMOcr" />
    <source-file src="src/ios/OcrViewController.xib" target-dir="BMOcr" />
    <framework src="src/ios/framework/DriverCardOCRLibrary.framework" custom="true" embed="true" />
  </platform>

</plugin>